.game-page {
  height: 100%;
}

.game-page__bank_desktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  .game-page {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  .game-page__bank_desktop {
    display: flex;
  }
}
