.button {
  width: 100%;
  padding: 1em 1.5em;
  font-size: 1em;
  font-weight: 600;
  line-height: 16px;
  background-color: var(--btn-inactive-bg-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: 8px;
}

.button:hover {
  background-color: var(--btn-hover-bg-color);
}

.button:active {
  background-color: var(--btn-pressed-bg-color);
}
