@import url('./variables.css');
@import url('./fonts.css');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
}

h1,
h2,
span,
p {
  font-family: 'Inter', sans-serif;
}

.notification {
  cursor: default;
}

.notification__progressbar {
  background: var(--toast-progress-bg-color);
}

.notification__content {
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
}
