:root {
  /* TEXT */
  --text-color: #1c1c21;
  --text-font-size-mobile: 14px;
  --text-font-size-desktop: 20px;

  /* BUTTONS */
  --btn-inactive-bg-color: #ff8b37;
  --btn-pressed-bg-color: #e87928;
  --btn-hover-bg-color: #ffac70;
  --btn-text-color: #ffffff;

  /* OPTIONS */
  --option-inactive-bg-color: #ff8b37;
  --option-inactive-border-color: #d0d0d8;
  --option-hover-bg-color: #ffffff;
  --option-hover-border-color: #ff8b37;
  --option-wrong-bg-color: #fdeeed;
  --option-wrong-border-color: #ec6259;
  --option-correct-bg-color: #e6faea;
  --option-correct-border-color: #47d867;
  --option-selected-bg-color: #fff3eb;
  --option-selected-border-color: #ff8b37;

  /* QUESTION VALUE */
  --question-value-passed-bg-color: #ffffff;
  --question-value-passed-border-color: #d0d0d8;
  --question-value-passed-text-color: #d0d0d8;
  --question-value-current-bg-color: #ff8b37;
  --question-value-current-border-color: #d0d0d8;
  --question-value-current-text-color: #ff8b37;
  --question-value-upcoming-bg-color: #ffffff;
  --question-value-upcoming-border-color: #d0d0d8;
  --question-value-upcoming-text-color: #1c1c21;
}
