.playground__choices {
  display: grid;
}

.playground__question {
  text-align: center;
  padding: 0 16px;
}

@media screen and (min-width: 500px) {
  .playground__choices {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (min-width: 1024px) {
  .playground__bank_mobile {
    display: none;
  }
}
